<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/banzhow/img/arkaplan.jpeg');"></div>
            <div class="carousel-caption">
                <h2>Kaliteli Liftin Tek Adresi</h2>
                <a href="#" class="button">BAYİLERİMİZ</a>
            </div>
        </div>

    </div>

    <!-- Controls -->

</div>